.cardWrapper {
  composes: cardWrapper from "../../../App.module.css";
}

.bottomParaGraph {
  composes: bottomParaGraph from "../StepPhoneEmail/StepPhoneEmail.module.css";
}

.actionButtonWrap {
  composes: actionButtonWrap from "../StepPhoneEmail/StepPhoneEmail.module.css";
}
